services:
  strava-stats:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ENVIRONMENT: development
    container_name: strava-stats
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    restart: unless-stopped
    networks:
      - strava-stats
    env_file:
      - .env

networks:
  strava-stats:
    name: strava-stats
